.app {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}

.yellow {
  background: yellow;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.orange {
  background: orange;
}

.brown {
  background: brown;
}

.grey {
  background: rgb(119, 118, 118);
}

.black {
  background: black;
}